h1 {
    color:#c3073f;
    padding: 5px;
    width: 300px;
    height: 50px;
    text-align: center;
margin: auto;
font-family: 'times new roman';   
}

/*body {
    background: url("../images/Books.jpg") top / cover no-repeat fixed;
    color: white;
    margin: 0px;
}
*/
.tablink {
    background-color:#6f2232;
    color: white;
    font-family: 'times new roman';
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px;
    font-size: 17px;
    width: 16.66%;
}

.tablink:hover {
    background-color: #c3073f;
}

.tabcontent {
    color: white;
    display: none;
    padding: 20px;
    height: 100%;
}
.header {
    background-color: #1a1a1b ;
    height: 100px;
    top: 0px;
    width: 100%;
    margin: 0%;
}
.button{
    margin-top: 0px;
}
.title{
    padding-top: 27px;
}
.background{
    background-color: #6f2232;
    padding: 5px;
    width: 45%;
    margin: auto;
    height: 500px;
}
h2 {
    background-color:#1a1a1b;
    color: #c3073f;
    padding: 30px;
    margin: auto;
    font-family: 'Brush Script MT';
    text-align: center;
}

