.tablink {
    background-color: #6f2232;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px;
    font-size: 17px;
    width: 16.66%;
    font-family: 'times new roman';
}

.tablink:hover {
    background-color: #c3073f;
}

.tabcontent {
    color: white;
    display: none;
    padding: 20px;
    height: 100%;
}

h1 {
    color: #c3073f;
    padding: 5px;
    width: 300px;
    height: 50px;
    text-align: center;
    margin: auto;
    font-family: 'times new roman';
}

body {
    background: url("../images/Books.jpg") top / cover no-repeat fixed;
    color: white;
    margin: 0px;
}

.text-box {
    text-align: center;
    font-family: 'Brush Script MT';
    color: #c3073f;
    padding: 0px;
    margin: 0px;

}

.figure {
    background-color: #6f2232;
    padding: 5px;
    width: 410px;
    height: 240px;
    margin: auto;
    margin-top: 15px;
}

.title {
    padding-top: 27px;
}

.button {
    margin-top: 0px;
}

.header {
    background-color: #1a1a1b;
    height: 100px;
    top: 0px;
    width: 100%;
    margin: 0%;
}

.title {
    padding-top: 27px;
}

.footer {
    height: 100px;
    background-color: #1a1a1b;
    margin: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.image {
    text-align: center;
    padding: 10px;
    padding-top: 15px;
}
p{
    color: white;
    font-family: 'times new roman';
}